@charset "utf-8";

/* layout > 整体布局
--------------------------------------------------------------------*/
#header { z-index:3100; margin-top:10px;}
#header .logo { position:absolute; left:0;}
#header .menu { float:right; margin-top:10px; height:30px; overflow:hidden;}
#header .menu a { display:inline-block; text-align:center; color:#999;}
#header .menu a:hover { color:#F00;}
#header .menu .msg em { font-weight:bold; font-size:13px; line-height:18px; _vertical-align:middle; background-color:#F00; color:#fff; width:20px; height:20px; display:inline-block; border-radius:10px; text-shadow:none;}
#header .menu p { text-align:right;}
#content div#left { float:left; width:188px;}
#content div#right { float:right; width:782px;}
#content div#smgleft { float:left; width:140px;}
#content div#smgright { float:right; width:830px;}
#footer { margin-top:20px; height:20px; border-top:1px #ddd solid; padding-top:5px; text-align:center; color:#999; line-height:20px;}


/* nav > 主导航
--------------------------------------------------------------------*/
.nav { overflow:hidden; position:relative; margin-top:10px; width:100%;}
.nav-nosub { height:42px;}
.nav-cnt { height:80px; padding-left:10px;}
.nav-cnt ul { overflow:hidden; height:100%;}
.master { float:left; display:inline; margin:7px 5px 0 0;}
.master .name { float:left; font-size:14px; text-align:center; color:#fff;}
.master .name strong { padding:8px 15px 13px; display:inline-block; font-weight:bold; text-shadow:none;}
.master .name:hover, .master .name:active
{ color:#fff;}
ul.subnav, p.subnav
{ display:none; position:absolute; top:46px; left:10px; background:none; width:900px;}
ul.subnav.dialog
{ display:inline; position:relative;border-bottom: 1px #ccc solid;}
.subnav a:hover { color:#868686;}
p.subnav { padding:7px 15px; color:#999;}
p.subnav span { margin-right:10px;}
p.subnav a { padding:0 5px; display:inline-block;}
p.subnav a:hover { background:none; color:#F00;}
ul.subnav li { float:left; display:inline; margin-right:10px;}
ul.subnav a { float:left; color:#868686; text-align:center;}
ul.subnav span { padding:0 15px; height:28px; line-height:28px; overflow:hidden; float:left;}
.current .name { color:#696969;}
.current .name:hover, .current .name:active
{ color:#696969;}
.current .subnav { display:block;}
.subnav .current a span { text-shadow:1px 1px 0 rgba(255,255,255,0.5);}
.separator { color:#f9d3ae; font-size:14px; line-height:14px; font-weight:bold; float:left; margin:14px 5px 0 0; *margin:13px 5px 0 0; margin:13px 5px 0 0\0; text-shadow:none;}


/* lc/lc-app > 左边栏/左边栏app
--------------------------------------------------------------------*/
.lc, .lc-app, .rc
{ border:1px #ccc solid; border-top:none; margin-top:10px;}
.lc-title, .lc-app-title, .rc-title, .title
{ height:32px; line-height:32px; font-weight:bold; padding-left:10px; border-bottom:1px #ccc solid; font-size:14px; border-top:1px #ccc solid; position:relative;}
.lc-title a.setting, .lc-app-title a.setting, .rc-title a.setting, .title a.setting
{ width:16px; height:16px; display:inline-block; background:url(../images/setting.gif) no-repeat; float:right; margin:7px 10px 0 0;}
.lc-title a.setting:hover, .lc-app-title a.setting:hover, .rc-title a.setting:hover, .title a.setting:hover
{ background-position:-27px 0;}
.lc-title .more, .lc-app-title .more, .rc-title .more, .title .more
{ display:inline-block; float:right; margin-right:10px; font-size:12px; font-weight:normal;}
.lc-title .more a, .lc-app-title .more a, .rc-title .more a, .title .more a
{ font-size:12px; font-weight:normal;}
.lc-main, .lc-app-main
{ height:auto; overflow:hidden; padding:5px 10px;}
.lc-app-main .li-hover, .lc-app-main .current
{ background-color:#f5f5f5; color:#0088cc;}
.lc-app-main .li-hover a, .lc-app-main .current a { color:#666;}
.lc-main li { height:22px; line-height:22px;}
.lc-content-title {  font-size:20px; font-weight:bold; }
.lc-app-title { cursor:pointer;}
.lc-app-title-noBorder { border-bottom:none;}
.up_ico, .down_ico { position:absolute; right:10px; top:11px;}
.lc-app-main { padding:0;}
.lc-app-main li a { height:auto; padding:4px 10px; font-size:14px; cursor:pointer; display:block; _height:25px; overflow:hidden; clear:both;}
.lc-app-main li a img { vertical-align:middle; margin-right:10px;}


/* rc/rc-app > 右边栏/右边栏app
--------------------------------------------------------------------*/
.rc-title .more input, .title .more input, .tool-box input, .sift li input
{ height:20px; line-height:20px; vertical-align:middle; float:left; margin-top:6px; padding-left:2px;}
.rc-title .more .search_btn, .title .more .search_btn, .tool-box .search_btn, .sift li .search_btn
{ background:none; border:none; background:url(../images/search.png) no-repeat; height:20px; line-height:20px; width:46px; float:left; cursor:pointer; margin-top:-2px;}
.rc-title .more select, .title .more select, .tool-box select, .sift li select
{ height:20px; line-height:20px; margin:6px 5px 0 0; float:left; vertical-align:middle;}
.rc-title .link, .title .link
{ font-size:12px; font-weight:normal; margin:0 15px; float:left;}
.rc-title .link a, .title .link a
{ font-size:12px; font-weight:normal; margin:0 5px;}
.rc-app-main { padding:10px;}
.rc-app-main li { width:232px; float:left; padding:10px; cursor:pointer; display:inline-block;}
.rc-app-main li img { width:54px; height:54px; float:left;}
.rc-app-main li .text { margin-left:10px; width:168px; float:left;}
.rc-app-main li .text p { margin-top:5px; line-height:18px; height:36px; overflow:hidden;}
.rc-app-main .li-hover { background-color:#f5f5f5; color:#0088cc;}

/* 我的班级学生方块  */
.block-stu { border:1px #ccc solid; border-top:none; margin-top:10px; width:92px; float:left; margin-right:3px;}
.block-stu h1 { text-align:center; height:32px; line-height:32px; font-weight:bold; border-bottom:1px #ccc solid; font-size:14px; border-top:1px #ccc solid; position:relative;}
.block-stu h1 a{ color:#fff; text-shadow:none;}
.block-stu h1.unknown a{ color:#666; text-shadow:none;}
.block-stu .normal{ border:1px #0c0 solid; background-color: #9fc21a; color:#fff; text-shadow:none;}
.block-stu .special{ border:1px #c00 solid; background-color: #e6a309; color: #fff; text-shadow:none;}
.block-stu .unknown{ background:url(../images/x_bg.gif) repeat-x #fff;}

/* title/tool-box > 两种独立标题栏的形式，在有标题的时候使用title,在只有搜索功能的时候用tool-box
--------------------------------------------------------------------*/
.title { margin-top:10px; position:relative; height:40px; line-height:38px; border:1px #ddd solid;}
.orange { background:url(../images/orange_title.png) repeat-x; color:#fff;}
.title .more { margin-top:4px;}
.tool-box { position:relative; height:32px; line-height:32px; border:1px #ddd solid; padding:4px 10px;}
.tool-box span { float:left; margin-right:10px;}

.txt-title { margin-top:10px; position:relative; height:30px; line-height:28px; font-size:14px; font-weight:bold; border-bottom:1px #ccc dotted;}
.txt-content{  height:auto; background-color:#fdfdf5; font-size:16px;}
.txt-content li { padding:10px; display:inline-block;  margin-bottom:10px;}
.txt-content li .text { margin-left:10px;}

/* tab > 选项卡
--------------------------------------------------------------------*/
.tab { margin-top:10px; position:relative; width:100%; padding-top:30px;}
.tab .tab-label { position:absolute; z-index:99; top:0; left:0;}
.tab .tab-label li { float:left; margin-right:5px; position:relative;}
.tab .tab-label li .tab_left { position:absolute; top:0; left:0; z-index:999;}
.tab .tab-label li .tab_right { position:absolute; top:0; right:0; z-index:999;}
.tab .tab-label .current a, .tab .tab-label li a
{ padding:8px 20px 10px; padding:9px 20px\9; cursor:pointer; display:inline-block; color:#999; border:1px #bdbdbd solid; border-bottom:none; text-shadow:none;}
.tab .tab-label .current a, .tab .tab-label .li-hover a
{ background-color:#f9f9f9; padding:8px 20px 10px; padding:9px 20px\9; color:#333;}
.tab .more { position:absolute; right:0; top:10px;}
.tab .tab-main { overflow:hidden; clear:both; border:1px #ccc solid; padding:20px 20px 30px; background-color:#f9f9f9;}
.tab .tab-main .more { position:relative; top:0; right:0; float:left;}


/* dbList/dbTable > 数据列表/数据表格
--------------------------------------------------------------------*/
.dbList, .dbTable, .formList
{ width:100%;}
.dbTable { background-color:#fff;}
.dbList tbody .tr-hover, .dbTable tbody .tr-hover
{ color:#F00;}
.dbList tbody tr td, .dbTable tbody tr td, .dbTable tfoot tr td
{ padding:10px; text-align:left; border-bottom:1px #eee solid; cursor:pointer; vertical-align:middle;}

.dbList tbody tr.have_desc td, .dbTable tbody tr.have_desc td, .dbTable tfoot tr.have_desc td
{ border-bottom:1px dashed #EEEEEE;}

.dbList tbody tr td a { margin-left:15px;}
.dbTable { border:1px #ddd solid; margin-top:10px;}
.dbTable thead tr th { text-align:left; border-bottom:1px #ddd solid; padding:9px 10px; font-size:14px; color:#666; background-color:#f5f5f5;}
.dbTable tbody tr td a { margin-right:7px;}
.dbTable tbody .tr-hover { background-color:#FBF9E6;}
.dbTable tfoot tr td { background-color:#f5f5f5; vertical-align:middle;}
.dbTable tfoot tr td a, .dbTable tfoot tr td select { margin-right:15px;}
.dbTable tfoot tr td a, .dbTable tfoot tr td span, .dbTable tfoot tr td select { display:inline;}
.dbTable-Border tbody tr td, .dbTable-Border thead tr th { border:1px #999 solid; text-align:center;padding:5px; }

/* formList > 表单列表
--------------------------------------------------------------------*/
.formList tr td { padding:5px 0; _padding:4px 0;}
.formList tr.line td { border-bottom:1px #ccc dotted; padding-bottom:15px;}
.formList tr td.name { text-align:right; width:100px;}
.formList tr td.maxname { text-align:right; width:200px;}
.formList tr td.smgname { text-align:right; width:60px;}
.formList .form-name td { border-bottom:1px #ccc dotted; font-size:14px; font-weight:bold; color:#0088cc; padding:10px 0;}
.formList tr td.value { text-align:left; width:350px;}
.formList tr td.mivalue { text-align:left; width:300px;}
.formList tr td.value span, .formList tr td.value a { margin-left:15px;}
.formList tr td.value a { text-decoration:underline;}
.formList tr td input { width:150px; vertical-align:middle; display:inline-block; } 
.formList tr td input.address { width:300px;}
.formList tr td input.lng_address { width:500px;}
.formList tr td input.midd { width:60px;}
.formList tr td input.mini { width:40px;}  
.formList tr td select { width:155px; border:1px #ccc solid; background-color:#fff; vertical-align:middle; font-size:14px;}
.formList input.input_error {border:1px solid #e00;}
div.btnBox, .formList tr.btnBox td
{ margin:15px 0 6px; text-align:center; padding-top:20px;}
.formContainer{ overflow:hidden; clear:both; border:0px #ccc solid; padding:20px 20px 30px;}

/* arrange > 表单列表
--------------------------------------------------------------------*/
.arrange div.left { width:65%; height:300px; overflow:hidden; position:relative; float:left;}
.arrange h1 { height:26px; color:#666;}
.arrange div.left .scroll { width:99%; border:none; background-color:#f7f7f7; overflow-x:hidden; overflow-y:scroll; border:1px #ddd solid; height:268px;}
.arrange div.left .scroll .treeFile { margin-left:10px;}
.arrange div.right { width:32%; float:right;}
.arrange div.right p { margin-top:5px;}
.arrange div.right p.line { border-bottom:1px #ccc dotted; padding-bottom:10px; margin-bottom:5px;}
.arrange div.right p a, .arrange .right select { margin-right:8px;}
.arrange div.right h2 { color:#666; margin-top:15px;}
.arrange div.right .input_text { width:144px;}
.arrange div.right select { width:150px;}
.arrange div.right .btnBox { text-align:left;}


/* page > 翻页
--------------------------------------------------------------------*/
.page { height:34px; line-height:34px; overflow:hidden; clear:both;}
.page a, .page .pageAir
{ padding:1px 5px 2px; margin:0 2px; color:#F00; border:1px #F00 solid;}
.page a:hover, .page .pageAir
{ background-color:#F00; color:#fff;}
.page .pageNumber { text-align:right; float:right;}
.page .pageNumber select { float:left; margin:8px 0 0 2px;}

/* title-box > 类似条件筛选的功能区域
--------------------------------------------------------------------*/
.title-box { margin-top:7px; position:relative;}
.title-box h1 { border-bottom:3px #ccc solid;clear:both; overflow:hidden; height:22px; line-height:22px; font-size:14px;width:100%; }
.title-box h1 em { font-size:12px; font-weight:normal; color:#0088cc;}
.title-box h1 #switch { position:absolute; right:0; top:-5px; font-size:12px}
.title-box h1 .right { position:absolute; right:0; top:0px; font-size:12px}
.sift { padding:15px 0 5px; background-color:#f9f9f9; border:1px #ddd solid; position:relative; zoom:1;}
.sift li { clear:both; overflow:hidden; line-height:24px; margin-bottom:10px;}
.sift li .sift-title { width:100px; text-align:right; display:inline-block; font-weight:bold; float:left; margin-right:15px;margin:0 3px; margin-top:-3px;}
.sift li a { display:inline-block; float:left; margin-right:5px; padding:0 10px;}
.sift li a.air, .sift li a:hover { background-color:#F00; color:#fff; text-shadow:none;}
.sift li input, .sift li select { margin-top:0;}

/* dBox > 交互信息提示框
--------------------------------------------------------------------*/
.dBox { overflow:hidden; border:1px #FCEFA1 solid; background-color:#FCFAF1; padding:10px; clear:both; text-align:left; width:494px;}
.dBox li { clear:both; overflow:hidden; line-height:24px;}
.dBox .line { border-bottom:1px #999 dotted; font-weight:bold; font-size:14px; padding-top:5px; color:#0088cc;}

/* checkbox radio 样式，sudk添加
--------------------------------------------------------------------*/
.inputcr {width: auto;vertical-align: middle;display: inline-block;}

/* 信息提示框
--------------------------------------------------------------------*/
.informationMessage{clear:both;border:1px solid #FFCD9A;background:#FDF7AD;padding:3px 0 3px 9px;display:block}
.questionMessage{border:1px solid #FFCD9A;background:#FDF7AD;padding:3px 0 3px 9px;display:both}
.asteriskMessage{border:1px solid #FFCD9A;background:#FDF7AD;padding:3px 0 3px 9px;display:both}
.errorMessage{clear:both;border:0px solid #FFCD9A;background:#FDF7AD;padding:3px 0 3px 20px;display:both}

.errorMessage
{ background:url("../images/ico.png") no-repeat; display:inline-block; vertical-align:middle; margin-right:3px; overflow:hidden;}
.errorMessage { background-position:0 -24px;}
/* list 样式，sudk,添加。
--------------------------------------------*/
.lists li {
    margin: 10px 5px 10px 30px;
    padding-bottom: 5px;
    list-style:circle;
    border-bottom:1px #dcdcdc dashed;
}
.lists .current {
    font-weight:bolder;
    list-style:disc;
}
/* 颜色样式，sudk,添加。
--------------------------------------------*/
.co_gray  {
    color:gray;
}

/* message boxes: error, confirmation */
.success h1,
.notice h1,
div.error h1 {
    border-bottom:      2px solid;
    font-weight:        bold;
    text-align:         left;
    margin:             0 0 0.2em 0;
}

div.success,
div.notice,
div.error,
div.footnotes {
    margin:             0.5em 0 0 0;
    border:             1px solid;
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    padding:            10px 10px 10px 25px;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow: 0 1px 1px #fff inset;
    -webkit-box-shadow: 0 1px 1px #fff inset;
    box-shadow:  0 1px 1px #fff inset;
	padding-left:30px;
}
div.notice pre { text-align: left;}
.success  a{text-decoration:underline;}
.notice a{text-decoration:underline;}
.error a{text-decoration:underline;}
.footnotes a{text-decoration:underline;}

.success {
    color:              #000000;
    background-color:   #ebf8a4;
}
h1.success,
div.success {
    border-color:       #a2d246;
    background-image:   url(../images/icons/s_success.png);
    background-repeat:  no-repeat;
    background-position: 5px 50%;
}
.success h1 {
    border-color:       #00FF00;
}

.notice, .footnotes {
    color:              #000;
    background-color:   #e8eef1;
}
h1.notice,
div.notice,
div.footnotes {
    border-color:       #3a6c7e;
    background-image:   url(../images/icons/s_notice.png);
    background-repeat:  no-repeat;
    background-position: 5px 50%;
}
.notice h1 {
    border-color:       #ffb10a;
}

.error {
    border:1px solid maroon !important;
    color: #000;
    background:pink;
}

h1.error,
div.error {
    border-color:       #333;
    background-image:   url(../images/icons/s_error.png);
    background-repeat:  no-repeat;
    background-position: 5px 50%;
}
div.error h1 {
    border-color:       #ff0000;
}



.confirmation {
    color:              #000000;
    background-color:   pink;
}
fieldset.confirmation {

}
fieldset.confirmation legend {

}
/* end messageboxes */

/* a link icon */

a.b_usradd { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_usradd.png) no-repeat center left; }
a.b_usrcheck { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_usrcheck.png) no-repeat center left; }
a.b_usrdrop { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_usrdrop.png) no-repeat center left; }
a.b_usredit { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_usredit.png) no-repeat center left; }
a.b_usrlist { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_usrlist.png) no-repeat center left; }

a.b_nextpage { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_nextpage.png) no-repeat center left; }
a.b_prevpage { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_prevpage.png) no-repeat center left; }

a.b_browse { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_browse.png) no-repeat center left; }
a.b_close { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_close.png) no-repeat center left; }

a.b_edit { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_edit.png) no-repeat center left; }
a.b_drop { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_drop.png) no-repeat center left; }
a.b_help { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_help.png) no-repeat center left; }
a.b_home { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_home.png) no-repeat center left; }
a.b_import { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_import.png) no-repeat center left; }
a.b_insrow { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_insrow.png) no-repeat center left; }
a.b_print { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_print.png) no-repeat center left; }
a.b_save { padding: 4px 5px 4px 18px;background: transparent url(../images/icons/b_save.png) no-repeat center left; }
a.b_snewtbl { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_snewtbl.png) no-repeat center left; }

a.b_search { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_search.png) no-repeat center left; }
a.b_select { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_select.png) no-repeat center left; }
a.b_snewtbl { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_snewtbl.png) no-repeat center left; }
a.b_tipp { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_tipp.png) no-repeat center left; }
a.b_view { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/b_view.png) no-repeat center left; }
a.bd_drop { padding: 4px 8px 4px 18px;background: transparent url(../images/icons/bd_drop.png) no-repeat center left; }

a.s_attention { padding-left: 18px;background: transparent url(../images/icons/s_attention.png) no-repeat center left; }
a.s_cancel { padding-left: 18px;background: transparent url(../images/icons/s_cancel.png) no-repeat center left; }
a.s_error { padding-left: 18px;background: transparent url(../images/icons/s_error.png) no-repeat center left; }
a.s_info { padding-left: 18px;background: transparent url(../images/icons/s_info.png) no-repeat center left; }
a.s_notice { padding-left: 18px;background: transparent url(../images/icons/s_notice.png) no-repeat center left; }
a.s_okay { padding-left: 18px;background: transparent url(../images/icons/s_okay.png) no-repeat center left; }
a.s_success { padding-left: 18px;background: transparent url(../images/icons/s_success.png) no-repeat center left; }
a.s_loggoff { padding-left: 18px;background: transparent url(../images/icons/s_loggoff.png) no-repeat center left; }
a.s_passwd { padding-left: 18px;background: transparent url(../images/icons/s_passwd.png) no-repeat center left; }
a.s_reload { padding-left: 18px;background: transparent url(../images/icons/s_reload.png) no-repeat center left; }
a.s_rights { padding-left: 18px;background: transparent url(../images/icons/s_rights.png) no-repeat center left; }
a.s_asci { padding-left: 18px;background: transparent url(../images/icons/s_asci.png) no-repeat center left; }
a.s_process { padding-left: 18px;background: transparent url(../images/icons/s_process.png) no-repeat center left; }



/* end a link icon */

/*电击行出现明细效果*/
#row_desc span{
    color: #808080;
}
.towfocus {
    background-color:#fbf9e6;
    color: #ff0000;
}


.process_label { margin:20px 0;}
.process_label li { float:left;}
.process_label .label .floatL, .process_label .air .floatL
{ background:url(../images/label_bg.png) no-repeat; height:40px; line-height:40px; float:left;}
.process_label .label .floatL em, .process_label .air .floatL em
{ color:#999; font-size:24px; line-height:40px; float:left; clear:both; margin-left:14px;}
.process_label .air .floatL em { color:#f89c1c;}
.process_label .label .floatL h1, .process_label .air .floatL h1
{ color:#999; font-weight:normal; font-style:italic; padding:0 5px; *padding:0 3px; font-size:20px; line-height:37px; float:left; font-family:"MicroSoft YaHei","SimHei"; margin-left:20px; clear:none;}
.process_label .air .floatL h1 { color:#fff; font-style:normal;}
.process_label .air .floatL { background-position:left -80px;}
.process_label .label .floatR, .process_label .air .floatR
{ background:url(../images/label_bg.png) no-repeat right -40px; height:40px; line-height:40px; width:20px; float:left;}
.process_label .air .floatR { background-position:right -120px;}
.process_label .arrow { background:url(../images/arrow.png) no-repeat; width:24px; height:20px; margin:10px; float:left;}


.index_c { width:320px; float:left; margin-top:10px;}
.index_c .index_c_top, .index_c .index_c_bottom { background:url(../images/index_c_bg.png) no-repeat; height:6px; width:320px; clear:both; overflow:hidden;}
.index_c .index_c_bottom { background-position:0 -6px;}
.index_c .index_c_main { border-left:1px #ececec solid; border-right:1px #ececec solid; background-color:#f5f5f5; padding:10px 20px 15px; clear:both; overflow:hidden;}
.index_c .index_c_main h1 { font-family:"MicroSoft YaHei","SimHei"; font-size:16px; font-weight:normal; color:#a85700; float:left; width:150px;}
.index_c .index_c_main h1 img { vertical-align:middle; margin-right:5px;}
.index_c .index_c_main em { background:url(../images/index_em.png) no-repeat; width:64px; height:26px; line-height:26px; font-size:16px; float:right; text-align:center;}
.index_c .index_c_main em a { color:red;}
.index_c .index_c_main .list { padding:10px 0 0 2px;}
.index_c .index_c_main .list li { line-height:25px; height:25px; overflow:hidden; clear:both; list-style:inside disc;}
.index_c .index_c_main .list li a { color:#666;}

.index_c_big { margin-top:10px; overflow:hidden; clear:both;}
.index_c_big .index_c_big_top, .index_c_big .index_c_big_bottom { background:url(../images/index_c_big.png) no-repeat; height:6px; width:100%; clear:both; overflow:hidden;}
.index_c_big .index_c_big_bottom { background-position:0 -6px;}
.index_c_big .index_c_big_main { border-left:1px #ececec solid; border-right:1px #ececec solid; background-color:#f5f5f5; padding:0 30px 15px; clear:both; overflow:hidden;}
.index_c_big .index_c_big_main ul li { width:229px; overflow:hidden; float:left; margin-top:20px;}
.index_c_big .index_c_big_main ul li img { float:left; display:inline-block;}
.index_c_big .index_c_big_main ul li h1 { float:left; clear:none; margin:17px 0 0 10px; font-family:"MicroSoft YaHei","SimHei"; font-size:16px; font-weight:normal;}
.index_c_big .index_c_big_main ul li a { color:#666;}
.index_c_big .index_c_big_main ul li a:hover { color:#F60;}


.photoup { overflow:hidden; clear:both; padding:0 20px; margin-bottom:20px;}
.photoup .uploadify { float:left; padding-right:20px; margin-top:10px;}
.photoup .sBtn, .photoup .sBtn-cancel { float:left;}
.tab .sift .album { overflow:hidden; clear:both; margin-bottom:10px;}
.tab .sift .album li { width:115px; height:115px; clear:none; overflow:hidden; float:left; margin-left:20px; display:inline-block; border:1px #ccc solid; background-color:#fff;}
.tab .sift .album li img { width:113px; height:113px; margin:1px;}

.tab .sift .posList { margin:0 0 10px;}
.tab .sift .posList li { width:219px; height:37px; line-height:35px; clear:none; overflow:hidden; float:left; margin-left:20px; display:inline-block; background:url(../images/posBg.png) no-repeat; font-size:14px; text-align:center;}


/** 详情表格
 * -----------------------------------------------------------------------*/
.detailtab {cellspacing:0; cellpadding:0; border:0;width:100%;}
.detailtab tr td,.detailtab tbody tr td {border:0;padding:5px; _padding:5px;}
.detailtab tr td span.sname {text-align:right; width:80px;display:inline-block;}
.detailtab tr td span.svalue {text-align:left;display:inline-block;}

.detailtab tr td.tname {text-align:right; width:80px;}
.detailtab tr td.tvalue {text-align:left;width:800px;}

/**Jcrop 在线截图
 * ------------------------------------------------------------------------*/
.preview-pane .preview-container {
  overflow: hidden;
}

.jcrop-holder .preview-pane {
  display: block;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;
  z-index: 2000;

  position: absolute;
  right: -400px;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}


/**推送多图文
* ------------------------------------------------------------------------*/
.media_edit_area:after {
    clear: both;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    display: block;
	height: 0 !important;
    line-height: 0;
    visibility: hidden;
}
.media_edit_area {
    float: left;
    width: 620px;
	
	
}
.appmsg_editor {
    padding: 12px;
    position: relative;
}

.appmsg_editor .inner {
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #FFFFFF inset;
    min-height: 150px;
    padding: 5px;
}

.appmsg_editor .arrow {
    position: absolute;
}

.appmsg_editor .arrow_out {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #D3D3D3;
    border-style: dashed dashed dashed solid;
    border-width: 12px 0 12px 12px;
    display: inline-block;
    height: 0;
    right: 0;
    top: 44px;
    width: 0;
}

.appmsg_editor .arrow_in {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F8F8F8;
    border-style: dashed dashed dashed solid;
    border-width: 12px 0 12px 12px;
    display: inline-block;
    height: 0;
    right: 1px;
    top: 44px;
    width: 0;
}

.media_preview_area {
    margin-right: 10px;
	margin-left: 10px;
    width: 320px;
	display:table-cell;
	float:left;
	
}

.appmsg {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
	min-height: 180px;
}

.editing.multi .appmsg_content {
    border-bottom-width: 1px;
}
.editing .appmsg_content {
    border-bottom-width: 0;
    box-shadow: none;
}
.multi .appmsg_content {
    padding: 0;
}
.appmsg_content {
    border-bottom: 1px solid #D3D3D3;
    padding: 0 14px;
    position: relative;
}

.multi .appmsg_info {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
}
.appmsg_info {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 6px;
}

.appmsg_date {
    font-style: normal;
    font-weight: 400;
}

.cover_appmsg_item {
    margin: 0 14px 14px;
    position: relative;
}

.cover_appmsg_item .appmsg_title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.multi .appmsg_title {
    font-size: 14px;
    padding-top: 0;
}
.appmsg_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    padding-top: 6px;
    word-break: break-all;
    word-wrap: break-word;
}

.appmsg_thumb_wrp {
    height: 160px;
    overflow: hidden;
}

.editing .appmsg_thumb.default {
    display: block;
}
.editing .appmsg_thumb {
    display: none;
}
.appmsg_thumb.default {
    background-color: #ECECEC;
    color: #C0C0C0;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160px;
    text-align: center;
}
.appmsg_thumb {
    width: 100%;
}

.cover_appmsg_item .appmsg_edit_mask {
    line-height: 160px;
}
.appmsg_edit_mask {
    background: none repeat scroll 0 0 rgba(229, 229, 229, 0.85) !important;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.appmsg_item:after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.appmsg_item {
    border-top: 1px solid #D3D3D3;
    padding: 12px 14px;
    position: relative;
}


.appmsg_item .appmsg_thumb.default {
    font-size: 16px;
    line-height: 78px;
}

.appmsg_item .appmsg_thumb {
    float: right;
    height: 78px;
    margin-left: 14px;
    width: 78px;
}

.appmsg_item .appmsg_title {
    line-height: 24px;
    margin-top: 14px;
    max-height: 48px;
    overflow: hidden;
}

.cover_appmsg_item .appmsg_title a {
    color: #FFFFFF;
    padding: 0 4px;
}
.appmsg_title a {
    color: #222222;
    display: block;
	text-shadow: none;
}

.appmsg_item .appmsg_edit_mask {
    line-height: 102px;
}

.appmsg_add {
    line-height: 72px;
    padding: 12px 14px;
    text-align: center;
}

.appmsg_add a {
    border: 3px dotted #B8B8B8;
    border-radius: 5px;
    display: block;
    font-size: 0;
    height: 72px;
    text-decoration: none;
}

.icon24_common.add_gray {
    background: url("../images/appmsg/add_gray.png") no-repeat scroll  rgba(0, 0, 0, 0);
}
.icon24_common {
    display: inline-block;
    height: 24px;
    line-height: 100px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
}

.tool_area:after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}

.tool_area {
	margin: 0;
    padding: 10px;
}

.tool_bar:after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}

.tool_bar {
    border-top: 1px solid #E6E6E6;
    box-shadow: 0 1px 0 #FBFBFB inset;
    margin: 10px 20px;
    padding: 25px 0 50px;
    text-align: center;
	margin-left: 0;
    margin-right: 0;
}

.mivalue.select_a a{
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding: 0 10px;
	line-height:24px;

}

.select_a {margin-left: 10px;}

.mivalue.select_a a.air, .mivalue.select_a a:hover,.select_a:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    text-shadow: none;
}

#js_appmsg_preview .air {
	border:1px solid red;
	
}

.appmsg_edit_mask a {
    margin-left: 4px;
    margin-right: 4px;
}


.appmsg_desc {
    padding: 5px 0 10px;
}










 
