<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>衡阳联通平安校园电子安防平台-教务处-信息管理</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>
<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">王主任</a> ｜
            <a href="#">退出</a> ｜
            <a href="#">个人信息</a> ｜
            <a href="#">通信录</a> |
            <a href="#">帮助</a>|
            <a href="#">建议</a>
        </div>
    </div>
    <div id="nav" class="nav nav-nosub">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">发布公告</a> |
                        <a href="#" target="_blank">德育考评</a> |
                        <a href="#" target="_blank">考勤记录</a> |
                        <a href="#" target="_blank">短信发送</a>
                    </p>
                </li>
                <li class="master">
                    <a class="name" href="campus_my.html"><strong>我的学校</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>班级信息</span></a></li>
                        <li><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                    </ul>
                </li>
                <li class="master current">
                    <a class="name" href="campus_sms.html"><strong>信息管理</strong></a>  
                </li>
                <li class="master">
                    <a class="name" href="campus_exam.html"><strong>成绩管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考试信息</span></a></li>
                        <li><a href="#"><span>成绩录入</span></a></li>
                        <li><a href="#"><span>成绩发送</span></a></li>
                        <li><a href="#"><span>成绩统计</span></a></li>
                        <li><a href="#"><span>成绩查询</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_att.html"><strong>考勤管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考勤记录</span></a></li>
                        <li><a href="#"><span>报表统计</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                        <li><a href="#"><span>请假管理</span></a></li>
                        <li><a href="#"><span>规则设置</span></a></li>
                        <li><a href="#"><span>假期管理</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="campus_staff.html"><strong>教师管理</strong></a>
                	<ul class="subnav">
                        <li class="current"><a href="#"><span>教师信息</span></a></li>
                        <li><a href="#"><span>分组管理</span></a></li>
                        <li><a href="#"><span>权限管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_student.html"><strong>学生管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>德育考评</span></a></li>
                        <li><a href="#"><span>学生分组</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_manage.html"><strong>校园管理</strong></a>
               		<ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>年级管理</span></a></li>
                        <li><a href="#"><span>班级管理</span></a></li>
                        <li><a href="#"><span>宿舍管理</span></a></li>
                        <li><a href="#"><span>学科管理</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
    <!-- content > left start -->
    <div id="left">
    <!-- content > left > lc-app start -->
    <div class="lc-app">
        <div class="lc-app-title title_no">学校公告</div>
            <ul class="lc-app-main">
                <li><a href="campus_sms.html"><img src="images/test/test_1.gif" /><span>公告列表</span></a></li>
                <li><a href="sms_newnotice.html"><img src="images/test/test_2.gif" /><span>发布公告</span></a></li>
            </ul>
		<div class="lc-app-title title_off">家长短信</div>
            <ul class="lc-app-main">
                <li><a href="sms_new.html"><img src="images/test/test_4.gif" /><span>发送短信</span></a></li>
                <li><a href="sms_history.html"><img src="images/test/test_3.gif" /><span>信息记录</span></a></li>
                <li><img src="images/test/test_2.gif" /><span>家长留言</span></li>
				<li><img src="images/test/test_1.gif" /><span>信息统计</span></li>
            </ul>		
		<div class="lc-app-title title_off">学校短信</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_4.gif" /><span>发送短信</span></li>
                <li><img src="images/test/test_1.gif" /><span>信息记录</span></li>
                <li><img src="images/test/test_1.gif" /><span>信息统计</span></li>
            </ul>		
		<div class="lc-app-title title_off">任务监控</div>
			<ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>任务监控</span></li>
                <li><img src="images/test/test_1.gif" /><span>历史任务</span></li>
            </ul>
        <div class="lc-app-title title_off">评语模版</div>
			<ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>评语信息</span></li>
            </ul>
    </div> 
    <!-- content > left > lc-app end -->
	</div>
    <!-- content > left end -->
    
    <!-- content > right start -->
    <div id="right">
        	<div class="title-box">
       		<h1>公告列表</h1>
            <ul class="sift">
            	<li>
                	<span class="sift-title">公告类型：</span>
                    <a href="#" class="air">所有</a><a href="#">校内公告</a><a href="#">家长公告</a><a href="#">系统公告</a>
                </li>

            	<li>
                	<span class="sift-title">搜索：</span>
                    <input type="text" value="查找公告" class="grayTips" />
                    <input type="submit" value="" class="search_btn" />
                </li>
            </ul>
            <div>
            	
        <table class="dbTable">
            <thead>
                <tr><th>序号</th><th>状态</th><th>类型</th><th>时间</th><th>内容</th><th>发布者</th><th></th></tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                <tr><td>2</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                <tr><td>3</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                <tr><td>4</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                <tr><td>5</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                <tr><td>6</td><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
            </tbody>
        </table>
        <div class="page">
            <div class="floatL">共25页（268条）记录</div>
            <div class="pageNumber">
                <span class="floatL"><a href="#">1</a><a href="#" class="pageAir">2</a><a href="#">3</a></span>
                <select><option> 25 </option></select>
            </div>
        </div>
       </div>
    <!-- content > right end -->
</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->

</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	// 应用菜单切换
	var c = $('.lc-app').find('.lc-app-title');
	$('.lc-app').find('.title_off').addClass('lc-app-title-noBorder').next('.lc-app-main').hide();
	c.append('<span class="down_ico"></span><span class="up_ico"></span>');
	$('.lc-app').find('.title_off').find('.up_ico').hide();
	$('.lc-app').find('.title_no').find('.down_ico').hide();
	c.click(function(){
		$(this).next('.lc-app-main').slideToggle(200);
		$(this).toggleClass('lc-app-title-noBorder');
		$(this).find('.down_ico').toggle();
		$(this).find('.up_ico').toggle();
	});
})
</script>
</script>