<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>平安校园</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>

<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">平安校园</a> ｜
            <a href="#" class="msg">消息 <em>2</em></a> ｜
            <a href="#">帮助中心</a> ｜
            <a href="#">建议</a> |
            <a href="#">安全退出</a>
        </div>
    </div>
    <div id="nav" class="nav">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">考勤统计</a> |
                        <a href="#" target="_blank">用户挂失</a> |
                        <a href="#" target="_blank">消费统计</a> |
                        <a href="#" target="_blank">用户解挂</a> |
                        <a href="#" target="_blank">添加机具</a> |
                        <a href="#" target="_blank">群发短信</a>
                    </p>
                </li>
                <li class="master current">
                    <a class="name" href="#"><strong>校园管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="./campus_base.html"><span>基本信息</span></a></li>
                        <li><a href="#"><span>年级管理</span></a></li>
                        <li><a href="#"><span>班级管理</span></a></li>
                        <li><a href="#"><span>宿舍管理</span></a></li>
                        <li><a href="#"><span>学科管理</span></a></li>
                        <li><a href="#"><span>离到校短信规则</span></a></li>
                        <li><a href="./campus_term.html"><span>机具管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>学生管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>基础信息</span></a></li>
                        <li><a href="#"><span>组织结构</span></a></li>
                        <li><a href="#"><span>成员管理</span></a></li>
                        <li><a href="#"><span>机具管理</span></a></li>
                        <li><a href="#"><span>操作员管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>老师管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>报表中心1</span></a></li>
                        <li><a href="#"><span>报表中心2</span></a></li>
                        <li><a href="#"><span>报表中心3</span></a></li>
                        <li><a href="#"><span>报表中心4</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="#"><strong>消息中心</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
	<div class="tab">
    	<ul class="tab-label">
        	<li><a href="manage_1.html">基本信息</a></li>	
            <li class="current"><a href="">机具信息</a></li>	
            <li><a href="">用户信息</a></li>	
            <li><a href="">应用信息</a></li>	
        </ul>
        <div class="tab-main">
            <table class="dbList">
                <tbody>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                    <tr><td>门禁设备</td><td>总共：10</td><td>正常：8</td><td>故障：2</td><td><a href="#">详细信息</a><a href="#">报修</a></td></tr>
                </tbody>
            </table>
            <div class="btnBox">
                <span class="sBtn">
                    <a class="left">保存设置</a><a class="right"></a>
                </span>
                <span class="sBtn-cancel">
                    <a class="left">取消</a><a class="right"></a>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->

</body>
</html>