<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>衡阳联通平安校园电子安防平台-教务处主任-考勤</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>
<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">王主任</a> ｜
            <a href="#">退出</a> ｜
            <a href="#">个人信息</a> ｜
            <a href="#">通信录</a> |
            <a href="#">帮助</a>|
            <a href="#">建议</a>
        </div>
    </div>
    <div id="nav" class="nav">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">发布公告</a> |
                        <a href="#" target="_blank">德育考评</a> |
                        <a href="#" target="_blank">考勤记录</a> |
                        <a href="#" target="_blank">短信发送</a>
                    </p>
                </li>
                <li class="master">
                    <a class="name" href="campus_my.html"><strong>我的学校</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>班级信息</span></a></li>
                        <li><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_sms.html"><strong>信息管理</strong></a>  
                </li>
                <li class="master">
                    <a class="name" href="campus_exam.html"><strong>成绩管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考试信息</span></a></li>
                        <li><a href="#"><span>成绩录入</span></a></li>
                        <li><a href="#"><span>成绩发送</span></a></li>
                        <li><a href="#"><span>成绩统计</span></a></li>
                        <li><a href="#"><span>成绩查询</span></a></li>
                    </ul>
                </li>
                <li class="master current">
                    <a class="name" href="campus_att.html"><strong>考勤管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考勤记录</span></a></li>
                        <li><a href="#"><span>报表统计</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                        <li><a href="#"><span>请假管理</span></a></li>
                        <li><a href="att_rule.html"><span>考勤规则</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="campus_staff.html"><strong>教师管理</strong></a>
                	<ul class="subnav">
                        <li class="current"><a href="#"><span>教师信息</span></a></li>
                        <li><a href="#"><span>添加教师</span></a></li>
                        <li><a href="#"><span>分组管理</span></a></li>
                        <li><a href="#"><span>权限管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_student.html"><strong>学生管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>德育考评</span></a></li>
                        <li><a href="#"><span>学生分组</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_manage.html"><strong>校园管理</strong></a>
               		<ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>年级管理</span></a></li>
                        <li><a href="#"><span>班级管理</span></a></li>
                        <li><a href="#"><span>宿舍管理</span></a></li>
                        <li><a href="#"><span>学科管理</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
      	<div class="title-box">
        	<h1>考勤记录<em>（243/2645）</em><a href="#" id="switch"><img src="images/open.gif"/><img src="images/close.gif" style="display:none;"/></a></h1>
            <ul class="sift">
            	<li>
                	<span class="sift-title">考勤时间：</span>
                    <a href="#" class="air">今日</a><a href="#">本周</a><a href="#">本月</a><a href="#">三月</a>
					<select><option>开始时间</option></select>
					<select><option>结束时间</option></select>
                    <input type="submit" value="" class="search_btn" />
                </li>
            	<li>
                	<span class="sift-title">年级：</span>
                    <a href="#" class="air">所有</a><a href="#">初一</a><a href="#">初二</a><a href="#">初三</a>
                </li>
            	<li>
                	<span class="sift-title">班级：</span>
                    <a href="#" class="air">所有</a><a href="#">初一（1）</a><a href="#">初一(2)</a><a href="#">初一(2)</a><a href="#">初一(2)</a><a href="#">初一(2)</a><a href="#">初一(2)</a><a href="#">初一(2)</a><a href="#">初一(2)</a>
                </li>
            	<li>
                	<span class="sift-title">状态：</span>
                    <a href="#" class="air">所有</a><a href="#">正常</a><a href="#">迟到</a><a href="#">早退</a><a href="#">旷课</a><a href="#">请假</a>
                </li>                                
            	<li>
                	<span class="sift-title">搜索：</span>
                    <select><option>姓名</option><option>班主任</option><option>学号</option></select>
                    <input type="text" value="搜索" class="grayTips" />
                    <input type="submit" value="" class="search_btn" />
                </li>
            </ul>
        </div>
        
                    	
        <table class="dbTable">
            <thead>
                <tr><th width=40>序号</th><th width=60>姓名</th><th width=40>年级</th><th width=40>班级</th><th width=120>到校时间</th><th width=60>到校</th><th width=120>离校时间</th><th width=60>离校</th><th width=100>电子标签</th><th width=50>学号</th><th width=40>操作</th></tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>
                <tr><td>1</td><td>张三</td><td>初一</td><td>2班</td><td>12-12 12:22:11</td><td>正常</td><td>12-12 12:22:11</td><td>早退</td><td>13288881111</td><td>12321001</td><td><a>请假</a>|<a>考评</a></td></tr>

            </tbody>
        </table>
        <div class="page">
            <div class="floatL">共25页（268条）记录</div>
            <div class="pageNumber">
                <span class="floatL"><a href="#">1</a><a href="#" class="pageAir">2</a><a href="#">3</a></span>
                <select><option> 25 </option></select>
            </div>
        </div>

</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->

</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	// 主菜单切换
	var a = $('#nav').find('.master');
	a.click(function(){
		a.removeClass('current');
		$(this).addClass('current');
	});

	// 子菜单切换
	var b = $('#nav').find('ul.subnav').find('li');
	b.click(function(){
		b.removeClass('current');
		$(this).addClass('current');
	})
	
	$('#switch').parent('h1').next('.sift').find("li:not(':first')").toggle();
	$('#switch').click(function(){
		$(this).parent('h1').next('.sift').find("li:not(':first')").toggle();
		$(this).find('img').toggle();
	});

})
</script>