<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>平安校园</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>

<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">平安校园</a> ｜
            <a href="#" class="msg">消息 <em>2</em></a> ｜
            <a href="#">帮助中心</a> ｜
            <a href="#">建议</a> |
            <a href="#">安全退出</a>
        </div>
    </div>
    <div id="nav" class="nav">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">考勤统计</a> |
                        <a href="#" target="_blank">用户挂失</a> |
                        <a href="#" target="_blank">消费统计</a> |
                        <a href="#" target="_blank">用户解挂</a> |
                        <a href="#" target="_blank">添加机具</a> |
                        <a href="#" target="_blank">群发短信</a>
                    </p>
                </li>
                <li class="master current">
                    <a class="name" href="#"><strong>校园管理</strong></a>
                    <ul class="subnav">
                        <li><a href="./campus_base.html"><span>基本信息</span></a></li>
                        <li><a href="./campus_grade.html"><span>年级管理</span></a></li>
                        <li class="current"><a href="#"><span>班级管理</span></a></li>
                        <li><a href="./campus_dorm.html"><span>宿舍管理</span></a></li>
                        <li><a href="./campus_course.html"><span>学科管理</span></a></li>
                        <li><a href="./campus_notice_period.html"><span>离到校短信规则</span></a></li>
                        <li><a href="./campus_term.html"><span>机具管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>学生管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>基础信息</span></a></li>
                        <li><a href="#"><span>组织结构</span></a></li>
                        <li><a href="#"><span>成员管理</span></a></li>
                        <li><a href="#"><span>机具管理</span></a></li>
                        <li><a href="#"><span>操作员管理</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>老师管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>报表中心1</span></a></li>
                        <li><a href="#"><span>报表中心2</span></a></li>
                        <li><a href="#"><span>报表中心3</span></a></li>
                        <li><a href="#"><span>报表中心4</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="#"><strong>消息中心</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
    <!-- position start -->
    <div id='position' style="text-align:left;margin-top:5px;">
    当前位置：校园管理 - 班级管理 - 班级信息
    </div>
    <!-- position end -->
	<div class="tab">
    	<ul class="tab-label">
        	<li class="current"><a href="">班级信息</a></li>
        </ul>
        <div class="more"><a href="#">帮助建议</a></div>
        <div class="tab-main">
            <div class="tool-box">
                <select>
                    <option>选择年级</option>
                </select>
                <input type="text" value="班主任姓名" class="grayTips"/>
                <input type="submit" value="" class="search_btn"/>
            </div>
            <table class="dbTable">
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th>年级</th>
                    <th>班级</th>
                    <th>人数</th>
                    <th>班主任</th>
                    <th>手机号码</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>高三</td>
                    <td>1班</td>
                    <td>50</td>
                    <td>王二小</td>
                    <td>13305312234</td>
                    <td>正常</td>
                    <td><a href="#">详细信息</a><a href="#">编辑</a><a href="#">删除</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>高三</td>
                    <td>2班</td>
                    <td>50</td>
                    <td>王三小</td>
                    <td>13305312234</td>
                    <td>正常</td>
                    <td><a href="#">详细信息</a><a href="#">编辑</a><a href="#">删除</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>高三</td>
                    <td>3班</td>
                    <td>50</td>
                    <td>王二小</td>
                    <td>13305312234</td>
                    <td>正常</td>
                    <td><a href="#">详细信息</a><a href="#">编辑</a><a href="#">删除</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <a href="#">删除</a>
                        <a id="url1" href="./campus_classes_add.html">添加班级</a>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="page">
                <div class="floatL">共25页（268条）记录</div>
                <div class="pageNumber">
                    <span class="floatL"><a href="#">1</a><a href="#" class="pageAir">2</a><a href="#">3</a></span>
                    <select>
                        <option>跳转至</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->
</body>
</html>