<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>衡阳联通平安校园电子安防平台-教务处主任</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>
<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">王主任</a> ｜
            <a href="#">退出</a> ｜
            <a href="#">个人信息</a> ｜
            <a href="#">通信录</a> |
            <a href="#">帮助</a>|
            <a href="#">建议</a>
        </div>
    </div>
    <div id="nav" class="nav">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">发布公告</a> |
                        <a href="#" target="_blank">德育考评</a> |
                        <a href="#" target="_blank">考勤记录</a> |
                        <a href="#" target="_blank">短信发送</a>
                    </p>
                </li>
                <li class="master">
                    <a class="name" href="campus_my.html"><strong>我的学校</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>班级信息</span></a></li>
                        <li><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_sms.html"><strong>信息管理</strong></a>  
                </li>
                <li class="master">
                    <a class="name" href="campus_exam.html"><strong>成绩管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考试信息</span></a></li>
                        <li><a href="#"><span>成绩录入</span></a></li>
                        <li><a href="#"><span>成绩发送</span></a></li>
                        <li><a href="#"><span>成绩统计</span></a></li>
                        <li><a href="#"><span>成绩查询</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_att.html"><strong>考勤管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>考勤记录</span></a></li>
                        <li><a href="#"><span>报表统计</span></a></li>
                        <li><a href="#"><span>出入监控</span></a></li>
                        <li><a href="#"><span>请假管理</span></a></li>
                        <li><a href="#"><span>规则设置</span></a></li>
                        <li><a href="#"><span>假期管理</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="campus_staff.html"><strong>教师管理</strong></a>
                	<ul class="subnav">
                        <li class="current"><a href="#"><span>教师信息</span></a></li>
                        <li><a href="#"><span>分组管理</span></a></li>
                        <li><a href="#"><span>添加教师</span></a></li>
                        <li><a href="#"><span>权限管理</span></a></li>
                    </ul>
                </li>
                <li class="master current">
                    <a class="name" href="campus_student.html"><strong>学生管理</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>学生信息</span></a></li>
                        <li><a href="#"><span>添加学生</span></a></li>
                        <li><a href="#"><span>批量导入</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="campus_manage.html"><strong>校园管理</strong></a>
               		<ul class="subnav">
                        <li class="current"><a href="#"><span>基本信息</span></a></li>
                        <li><a href="#"><span>年级管理</span></a></li>
                        <li><a href="#"><span>班级管理</span></a></li>
                        <li><a href="#"><span>宿舍管理</span></a></li>
                        <li><a href="#"><span>学科管理</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
    <!-- content > left start -->
    <div id="left">
        <div class="lc">
            <div class="lc-title">个人信息</div>
            <ul class="lc-main" align="center">
                <li class="lc-content-title"> 2012年1月09日<br>星期一</li>
                <br><br><br>
                <li>您好：王主任</li>
                <li>登陆学校：爱迪生中学</li>
                <li>教务处主任</li>
            
            	<li>
     	       <a href="#" title="个人信息">个人信息</a>&nbsp; | &nbsp;
     	       <a href="#" title="退出登陆">退出登陆</a>
       	     	</li>
            </ul>
        </div>
        <div class="lc-app">
            <div class="lc-app-title">
                <span class="floatL">快速操作</span>
                <a class="setting" href="#" title="自定义快速操作"></a>
            </div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>考勤统计</span></li>
                <li><img src="images/test/test_2.gif" /><span>用户挂失</span></li>
                <li><img src="images/test/test_3.gif" /><span>消费统计</span></li>
                <li><img src="images/test/test_4.gif" /><span>用户解挂</span></li>
                <li><img src="images/test/test_1.gif" /><span>考勤统计</span></li>
                <li><img src="images/test/test_2.gif" /><span>用户挂失</span></li>
                <li><img src="images/test/test_3.gif" /><span>消费统计</span></li>
                <li><img src="images/test/test_4.gif" /><span>用户解挂</span></li>                
            </ul>
        </div>
	</div>
    <!-- content > left end -->
    
    <!-- content > right start -->
    <div id="right">
        <div class="rc" style="height:100px;">
            <div class="rc-title">
                <span class="floatL">学校概况</span>
            </div>
            <table class="dbList">
                <tbody>
                    <tr><td> 总学生数：6323  年级数：3  班级数：41个 </td><td></td></tr>
                    <tr><td> 今日迟到：<a href="#" >23人次</a>  今日旷课：<a href="#" >41人次</a>  今日早退：<a href="#" >3人次</a>   今日请假：<a href="#" >15人次</a></td><td><a href="#">查看更多</a></td></tr>
                </tbody>
            </table>
       </div>     
       
       <div class="rc" >
            <div class="rc-title">
                <span class="floatL">消息中心</span>
            	<a class="more" href="#" title="更多消息">更多消息</a>

            </div>
            <table class="dbList">
                <tbody>
                    <tr><td>未读</td><td>【学校公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                    <tr><td>已读</td><td>【系统公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                    <tr><td>已读</td><td>【年级公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                    <tr><td>已读</td><td>【系统公告】</td><td>2012-12-12</td><td>应用中心有新应用可以使用</td><td>张三</td><td><a href="#">详细</a></td></tr>
                </tbody>
            </table>
       </div>
     
       <div class="rc" >
            <div class="rc-title">
                <span class="floatL">出入监控</span>
                <a class="more" href="#" title="更多消息">更多消息</a>
            </div>
            <table class="dbList">
                <tbody>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                   <tr><td>2012-01-12 12:22:35</td><td>【高三六班】【貂蝉】</td><td>【学校北门】</td><td>离校</td><td><a href="#">班主任</a><a href="#">德育考评</a></td></tr>
                </tbody>
            </table>
       </div>
    </div>
    <!-- content > right end -->
</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->

</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	// 主菜单切换
	var a = $('#nav').find('.master');
	a.click(function(){
		a.removeClass('current');
		$(this).addClass('current');
	});

	// 子菜单切换
	var b = $('#nav').find('ul.subnav').find('li');
	b.click(function(){
		b.removeClass('current');
		$(this).addClass('current');
	})
})
</script>