<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>一卡通新框架</title>
    <link href="css/frame_reset.css" rel="stylesheet" type="text/css"/>
    <link href="css/frame_layout.css" rel="stylesheet" type="text/css"/>
    <link href="css/image.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.overall.js"></script>
</head>
<body>
<table class="formList">
    <tr>
        <td class="name">宿舍号：</td>
        <td class="value"><input type="text"><a href="#">保存</a></td>
    </tr>
</table>
</body>
</html>
