<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一卡通新框架</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>
<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL"><img src="images/logo.gif" /></div>
        <div class="menu">
            <a href="#">创博国际</a> ｜
            <a href="#" class="msg">消息 <em>2</em></a> ｜
            <a href="#">帮助中心</a> ｜
            <a href="#">建议</a> |
            <a href="#">安全退出</a>
        </div>
    </div>
    <div id="nav" class="nav nav-nosub">
        <div class="nav-cnt">
            <ul>
                <li class="master">
                    <a class="name" href="#"><strong>首页</strong></a>
                    <p class="subnav">
                        <span>常用功能</span>
                        <a href="#" target="_blank">考勤统计</a> |
                        <a href="#" target="_blank">用户挂失</a> |
                        <a href="#" target="_blank">消费统计</a> |
                        <a href="#" target="_blank">用户解挂</a> |
                        <a href="#" target="_blank">添加机具</a> |
                        <a href="#" target="_blank">群发短信</a>
                    </p>
                </li>
                <li class="master current">
                    <a class="name" href="#"><strong>应用中心</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>应用中心1</span></a></li>
                        <li><a href="#"><span>应用中心2</span></a></li>
                        <li><a href="#"><span>应用中心3</span></a></li>
                        <li><a href="#"><span>应用中心4</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>管理中心</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>管理中心1</span></a></li>
                        <li><a href="#"><span>管理中心2</span></a></li>
                        <li><a href="#"><span>管理中心3</span></a></li>
                        <li><a href="#"><span>管理中心4</span></a></li>
                    </ul>
                </li>
                <li class="master">
                    <a class="name" href="#"><strong>报表中心</strong></a>
                    <ul class="subnav">
                        <li class="current"><a href="#"><span>报表中心1</span></a></li>
                        <li><a href="#"><span>报表中心2</span></a></li>
                        <li><a href="#"><span>报表中心3</span></a></li>
                        <li><a href="#"><span>报表中心4</span></a></li>
                    </ul>
                </li>
                <li class="separator"> | </li>
                <li class="master">
                    <a class="name" href="#"><strong>消息中心</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<!-- content start -->
<div id="content">
    <!-- content > left start -->
    <div id="left">
        <div class="lc-app">
            <div class="lc-app-title title_off">考勤</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>用户余额</span></li>
                <li><img src="images/test/test_2.gif" /><span>交易记录</span></li>
                <li><img src="images/test/test_3.gif" /><span>清算报表</span></li>
                <li><img src="images/test/test_4.gif" /><span>差错调整</span></li>
            </ul>
            <div class="lc-app-title title_off">门禁</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>用户余额</span></li>
                <li><img src="images/test/test_2.gif" /><span>交易记录</span></li>
                <li><img src="images/test/test_3.gif" /><span>清算报表</span></li>
                <li><img src="images/test/test_4.gif" /><span>差错调整</span></li>
            </ul>
            <div class="lc-app-title title_no">消费</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>用户余额</span></li>
                <li><img src="images/test/test_2.gif" /><span>交易记录</span></li>
                <li><img src="images/test/test_3.gif" /><span>清算报表</span></li>
                <li><img src="images/test/test_4.gif" /><span>差错调整</span></li>
            </ul>
            <div class="lc-app-title title_off">会议签到</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>用户余额</span></li>
                <li><img src="images/test/test_2.gif" /><span>交易记录</span></li>
                <li><img src="images/test/test_3.gif" /><span>清算报表</span></li>
                <li><img src="images/test/test_4.gif" /><span>差错调整</span></li>
            </ul>
            <div class="lc-app-title title_off">短信群发</div>
            <ul class="lc-app-main">
                <li><img src="images/test/test_1.gif" /><span>用户余额</span></li>
                <li><img src="images/test/test_2.gif" /><span>交易记录</span></li>
                <li><img src="images/test/test_3.gif" /><span>清算报表</span></li>
                <li><img src="images/test/test_4.gif" /><span>差错调整</span></li>
            </ul>
        </div>    
    </div>
    <!-- content > left end -->
    
    <!-- content > right start -->
    <div id="right">
    	<div class="title-box">
        	<h1>学生信息<em>（243/2645）</em><a href="#" id="switch"><img src="images/open.gif" /><img src="images/close.gif" style="display:none;" /></a></h1>
            <ul class="sift">
            	<li>
                	<span class="sift-title">所在年级：</span>
                    <a href="#" class="air">所有</a><a href="#">初一</a><a href="#">初二</a><a href="#">初三</a>
                </li>
            	<li>
                	<span class="sift-title">今日状态：</span>
                    <a href="#" class="air">所有</a><a href="#">正常</a><a href="#">迟到</a><a href="#">早退</a><a href="#">旷课</a><a href="#">请假</a>
                </li>
            	<li>
                	<span class="sift-title">搜索：</span>
                    <select><option>选择部门</option></select>
                    <input type="text" value="姓名搜索" class="grayTips" />
                    <input type="submit" value="" class="search_btn" />
                </li>
            </ul>
        </div>
        <table class="dbTable">
            <thead>
                <tr><th>姓名</th><th>部门</th><th>日期</th><th>余额</th></tr>
            </thead>
            <tbody>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
                <tr><td>张三</td><td>研发</td><td>2012.01.03 23:04</td><td>100.00</td></tr>
            </tbody>
        </table>
        <div class="page">
            <div class="floatL">共25页（268条）记录</div>
            <div class="pageNumber">
                <span class="floatL"><a href="#">1</a><a href="#" class="pageAir">2</a><a href="#">3</a></span>
                <select><option> 25 </option></select>
            </div>
        </div>
    </div>
    <!-- content > right end -->
</div>
<!-- content end -->

<!-- footer start -->
<div id="footer">Copyright © 2011 by 创博股份. All Rights Reserved</div>
<!-- footer end -->
</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
	// 应用菜单切换
	var c = $('.lc-app').find('.lc-app-title');
	$('.lc-app').find('.title_off').addClass('lc-app-title-noBorder').next('.lc-app-main').hide();
	c.append('<span class="down_ico"></span><span class="up_ico"></span>');
	$('.lc-app').find('.title_off').find('.up_ico').hide();
	$('.lc-app').find('.title_no').find('.down_ico').hide();
	c.click(function(){
		$(this).next('.lc-app-main').slideToggle(200);
		$(this).toggleClass('lc-app-title-noBorder');
		$(this).find('.down_ico').toggle();
		$(this).find('.up_ico').toggle();
	});
	
	$('#switch').click(function(){
		$(this).parent('h1').next('.sift').find("li:not(':first')").toggle();
		$(this).find('img').toggle();
	});
})
</script>