<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>一卡通新框架</title>
    <link href="css/frame_reset.css" rel="stylesheet" type="text/css"/>
    <link href="css/frame_layout.css" rel="stylesheet" type="text/css"/>
    <link href="css/image.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.overall.js"></script>
</head>
<body>

<table class="formList">
    <tr>
        <td class="name">从：</td><td class="value"><input type="text" class="input_text" value="8:00" style="width:40px;"/> 到：<input type="text" class="input_text" value="9:00"  style="width:40px;"/></td>
    </tr>
    <tr>
        <td class="name">进门短信：</td><td class="value"><input type="text" class="input_text" value="您的孩子 XXX 刚刚进入校门" style="width:200px;"/></td>
    </tr>
    <tr>
         <td class="name">出门短信：</td><td class="value"><input type="text" class="input_text" value="您的孩子 XXX 刚刚离开校门"  style="width:200px;"/></td>
    </tr>
    <tr class="line">
         <td class="name">时段名称：</td><td class="value"><input type="text" class="input_text"/></td>
    </tr>
    <tr class="btnBox">
        <td colspan="2">
                        <span class="sBtn">
                            <a class="left">保存</a><a class="right"></a>
                        </span>
                        <span class="sBtn-cancel">
                            <a class="left">取消</a><a class="right"></a>
                        </span>
        </td>
    </tr>
</table>
</body>
<script type="text/javascript">
    function close(id) {
        parent.$("#staff").val($('#' + id).html());
        $("#windown-close").click();
    }
</script>
</html>
