<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一卡通新框架</title>
<link href="css/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="css/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="css/image.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.overall.js"></script>
</head>

<body>
    <table class="formList">
        <tr>
            <td class="name">操作员帐号：</td>
            <td class="value"><input type="text" class="input_text" /><span class="colGray">16个之内的中英文字符</span></td>
        </tr>
        <tr>
            <td class="name">输入密码：</td>
            <td class="value"><input type="text" class="input_text" /><a href="#">密码规则</a></span></td>
        </tr>
        <tr>
            <td class="name">再次输入密码：</td>
            <td class="value"><input type="text" class="input_text" /></td>
        </tr>
        <tr>
            <td class="name">操作员姓名：</td>
            <td class="value"><input type="text" class="input_text" /></td>
        </tr>
        <tr>
            <td class="name">操作员角色：</td>
            <td class="value"><select><option>发卡操作员</option></select><span class="colGray">指派权限</span></td>
        </tr>
        <tr class="btnBox">
            <td colspan="2">
                <span class="sBtn">
                    <a class="left">添加操作员</a><a class="right"></a>
                </span>
                <span class="sBtn-cancel">
                    <a class="left">取消</a><a class="right"></a>
                </span>
            </td>
        </tr>
    </table>
</body>
</html>

