/* 
 * My97 DatePicker 4.7 Skin:whyGreen
 */ 
.WdateDiv{
	font-family:Tahoma;
	width:180px;
	width:190px\9;
	background-color:#E9F3FD;
	border:#A6C9E1 1px solid;
	padding:5px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}

.WdateDiv #dpTitle{
	height:20px;
	padding:2px 3px 4px 3px;
	padding:2px 3px 1px 3px\9;
	background:url(bg.gif);
}

.WdateDiv .yminput{
	margi-top:-2px;
	margin-top:2px\9;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#fff;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margi-top:-2px;
	margin-top:2px\9;
	text-align:center;
	border:#939393 1px solid;
	color:#034c50;	
	height:20px;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A8D1E8 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#E9F3FD;
	color:#3787C1;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#3AB7FF;
	color:#fff;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#999;
	background-color:#E9F3FD;
	height:24px;
	line-height:24px;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:16px;	
	color:#3787C1;
}
.WdateDiv .WdayTable td{
	text-align:center;
	padding:0 4px;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	color:#fff;
	background-color:#3AB7FF ;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#999;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#fff;
	background-color:#F90;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:#C00;
}
.WdateDiv .Wselday{
	background-color:#3AB7FF;
	color:#fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#0099CC;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#C0EBEF;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
}

.WdateDiv #dpTime #dpTimeStr{
	height:14px;
	line-height:14px;
	margin:0 5px 2px 7px;
	color:#3787C1;
}

.WdateDiv #dpTime input{
	cursor:pointer;
	height:22px;
	width:18px;
	text-align:center;
	color:#333;
	border:none;
	line-height:22px;
	background-color:#E9F3FD;
}

.WdateDiv #dpTime .tB{
	border:none;
}

.WdateDiv #dpTime .tE{
	border:none;
}

.WdateDiv #dpTime .tm{
	width:4px;
	border:none;
	font-weight:bold;
	color:#999;
}

.WdateDiv #dpTime #dpTimeUp{ display:none;}

.WdateDiv #dpTime #dpTimeDown{ display:none;}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:24px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:1px;
}
.WdateDiv .dpButton{ 
	height:18px;
	width:40px;
	border:none;
	background:none;
	color:#3787C1;
	cursor:pointer;
	margin-top:4px;
}